          <nav class="navbar navbar-expand-sm navbar-light light-blue lighten-5">

           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a  class="nav-link waves-light" mdbRippleRadius routerLink="/">WebSiteName</a>
             </li>
             <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius  routerLink="/account">Account</a>
              </li>
              <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius  routerLink="/store">Store</a>
              </li>
              <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius  routerLink="/forum">Forum</a>
              </li>
            </ul>

              <ul class="navbar nav">
              <li  class="nav-item active">

               <a class="nav-link waves-light" mdbRippleRadius *ngIf="!AuthlogService.authenticated()" routerLink="/signup"> Sign Up</a>
               </li>
               <li class="nav-item active">
               <a class="nav-link waves-light" mdbRippleRadius  *ngIf="!AuthlogService.authenticated()" routerLink="/login">Login</a>
               </li>

               <li  class="nav-item active">
               <a class="nav-link waves-light" mdbRippleRadius *ngIf="AuthlogService.authenticated()" (click)="OnLogout()">Logout</a>
             </li>
           </ul>

         </nav>
