<div class="container">
<br><br>

<h1 class="display-4"> Shop Products </h1>
<hr>
<br>

<div *ngFor="let product of products | async">
  <div class="col-sm-8">
  <div style="cursor: pointer;" routerLink="products/{{product.id}}" class="card">
    <img class="img-fluid" src="{{product.ImgURL}}" alt="Img not found">
    <div class="card-body">
      <h4 class="card-title">{{product.title}}</h4>
      <p class="card-text"> <strong>${{product.price}}</strong></p>
      <p class="card-text">{{product.description}}</p>
      <div *ngIf='AuthlogService.authState'>
        <button class="btn btn-success waves-light" mdbRippleRadius
        (click)="addtocart(product.id, product.title, product.price, product.quantity, product.description, product.ImgURL)">Add to Cart
      </button>
      </div>
    </div>
  </div>
</div>

<br>
</div>
