<br><br>

<h1 class="display-4"> Shop Products </h1>
<hr>
<br>

<div *ngFor="let product of products | async">
<!-- put in card -->
  <div><label>Name: </label><a routerLink='/products/{{ product.id }}'>{{product.name}}</a></div>
  <div><label>Price: $</label>{{product.price}}</div>
  <div><label>Quantity: </label>{{product.quantity}}</div>
  <img src="product.ImgURL" alt="">
  <button (click)="addtocart(product.id, product.name, product.price, product.quantity, product.ImgURL)">Add to Cart</button>
</div>
<br>
<br>

  <div *ngIf='AuthlogService.authState'>
    <button (click)="showcart()"><a routerLink='shoppingcart/{{AuthlogService.authState.uid}}'>Cart</a></button>
  </div>

<br>
<br>
