<div class="container">
<br><br>
    <form (ngSubmit)="createpost(f); addpostuser(f)" #f="ngForm" >

      <div class="md-form">
        <label for="title">title</label>
        <input  type="text" ngModel name="title" class="form-control" mdbActive>
    </div>



      <div class="md-form">
        <label for="post">Post:</label>
        <textarea ngModel name="post" type="text" class="md-textarea" mdbActive></textarea>
      </div>

        <button class="btn btn-primary"> Submit </button>
    </form>
  </div>
