<br><br>
    <form (ngSubmit)="addproduct(f)" #f="ngForm" >

      <div class="md-form">
        <label  for="name">Name</label>
        <input type="text" ngModel name="name" class="form-control" mdbActive>
      </div>


      <div class="md-form">
        <label for="price">Price</label>
        <input type="text" ngModel name="price" class="form-control" mdbActive>
      </div>

      <div class="md-form">
        <label for="quantity">Quantity</label>
        <input type="text" ngModel name="quantity" class="form-control" mdbActive>
      </div>

      <div class="md-form">
        <label for="username">Image URL</label>
        <input type="text" ngModel name="ImgURL" class="form-control" mdbActive>
      </div>
    <button class="btn btn-primary"> Submit </button>

  </form>
