<div class="container">
<br><br>


    <form (ngSubmit)="updateuser(f)" #f="ngForm" >

      <div class="md-form">
        <label for="username">Username</label>
          <input class="form-control" type="text" ngModel name="username" mdbActive>
      </div>



      <div class="form-group">
        <label for="occupation"> Occupation </label>
          <select class="form-control" ngModel name="occupation">
            <option value="Reader">Reader</option>
            <option value="Artist">Artist</option>
            <option value="Publisher">Publisher</option>
            <option value="Creator">Creator</option>
          </select>
      </div>

            <br>

                <button class="btn btn-primary"> Submit </button>


          </form>
        </div>
