<br><br>


  <h1 class="display-4">{{ (posts | async)?.title }}</h1>
  <p>{{ (posts | async)?.body }}</p>



<br>
<br>
    <form (ngSubmit)="addcomment(f)" #f="ngForm" >

      <textarea class="md-textarea" ngModel name="comment"> </textarea>
      <br>
      <small>comment</small>
      <br>
      <br>
      <button style="padding:10px:margin:10px;" class="btn btn-outline-primary btn-block waves-effect" mdbRippleRadius>Add Comment</button>
    </form>
    <br><br>

<div></div>
      <div *ngFor="let comment of comments | async">
        {{ comment.comment }}
        by
        <strong>{{comment.name}}</strong>
        <hr>
      </div>
